<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayout.md="row"
     fxLayout.sm="column" fxFlexFill>
  <div fxFlex="60" fxFlex.md="60" fxLayout="column">
    <p class="heading">
      Enter your mobile number<br>
      or email address to get started
    </p>

    <mat-form-field class="forms-input-width acc"  appearance="outline">
      <input name="accountNumber" [maxLength]="13" [minLength]="13" [formControl]="emailPhone"  type="text" matInput required>
      <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
    </mat-form-field>


    <div class="action-buttons">
      <button [disabled]="emailPhone.invalid" (click)="validate()" class="btn-filled btn-one"></button>
    </div>

    <div class="signin-text" >
      <span class="text">Already an account holder? Log in</span>
    </div>

  </div>

  <div fxFlex="40" fxFlex.md="40" fxLayout="row"   >
    <div class="start-img-container">
      <img src="assets/images/email-auth.png" class="start-img">
    </div>

  </div>
</div>
