.success{
  margin-top: 10%;
  padding-left: 10%;


  .congrats-sub-text{
    font-family: "BentonSans Regular";
    font-size: 20px;
    color: #3C4B6C;

    line-height: 30px;
    text-align: left;
    width: 90%;
  }

  .congrats-sub-text-two{
    font-family: "BentonSans Regular";
    font-size: 24px;
    color: #3C4B6C;
    margin-top: 7%;
    line-height: 30px;
    text-align: left;
    width: 90%;
  }

  .tick-num{
    margin-top: 5%;
    color: #0A2240;
    font-family: 'BentonSans-Bold', Arial;
    font-size: 60px;

    @media only screen and (max-width: 600px) {
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }

  .send-btn{
    margin-top: 5%;
    border: none;
    background-color: #0089FF;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "BentonSans Regular", serif;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
  }

  .thanks-div{
    position: fixed;
    bottom: 0;
    font-size: 17px;
  }
}

.titles{
  color: #00AD6C;
  font-family: "BentonSans-ExtraLight" , Arial;
  font-size: 38px;
  line-height: 38px;
  text-align: center;


  @media only screen and (max-width: 1400px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.submit-div-links{
  position: fixed;
  bottom: 0;
  right: 10%;
  flex-direction: column;
  padding-bottom: 20px;

  .continue-btn{
    margin-top: -10%;
    background-color: #0089FF;
    color: #ffffff;
    border: 2px solid #0089FF;
    font-family: "BentonSans-Bold", Arial;
    padding: 10px 70px;
    cursor: pointer;
    height: 50px;


    @media only screen and (max-width: 600px) {
      height: 38px;
      width: 100%;
      margin-bottom: 3%;
      padding: 5px 35px;
    }
  }

  .submit-link{
    color: #0089FF;
    text-decoration: underline;
    cursor: pointer;
  }
}

.success-img{
  width: -webkit-fill-available;
  height: 100vh;

  @media only screen and (max-width: 780px) {
    display: none;
  }
}
