<!--<div class="success">-->
<!--  <p class="titles">Your Ticket  Number is : <b>{{ticketNumber}}</b></p>-->
<!--  <p class="congrats-sub-text" *ngIf="!this.alt">Thank you for banking with us</p>-->

<!--  <p class="congrats-sub-text" *ngIf="this.alt">-->
<!--    Dear valued customer,-->
<!--    Our alternate channel {{alt}} can be used for this transaction in your subsequent dealing with the bank.-->

<!--  </p>-->
<!--  <p class="congrats-sub-text" *ngIf="this.alt">Thank you for banking with us</p>-->
<!--</div>-->


<!--<div class=" submit-div-links">-->

<!--  <div  style="margin-right: auto; margin-left: auto; display: block;">-->
<!--    <button (click)="done()"  class="continue-btn">DONE</button>-->
<!--  </div>-->

<!--</div>-->
<div class="content" fxLayout="row" fxLayout.xs="column"  fxLayout.md="row"
     fxLayout.sm="column" fxFlexFill>
  <div fxFlex="65" fxFlex.md="65">

    <div class="success">
      <p class="congrats-sub-text">
        Dear valued customer,
        Our alternate channel {{alt}} can be used for this transaction in your subsequent dealing with the bank.

      </p>

      <p class="congrats-sub-text-two">
        Your Ticket  Number is
      </p>

      <p class="tick-num">{{lpad(ticketNumber, 3)}}</p>

<!--      <button *ngIf="!sent" (click)="openDialog()" class="send-btn">SEND TICKET TO PHONE</button>-->
<!--      <button *ngIf="sent" (click)="done()" class="send-btn">DONE</button>-->

      <div class="thanks-div">
        <p>Thank you for using or banking services</p>
      </div>

    </div>

  </div>
  <div fxFlex="35" fxFlex.md="35">
    <img class="success-img" src="assets/images/login-img4.png">
  </div>
</div>
