<div mat-dialog-title>
  <p style="  color: #F7931E;
  font-family: BentonSans-ExtraLight,serif ;
  font-size: 30px;">Notice</p>
</div>
<div mat-dialog-content>
  <p class="dialog-delete-text" style="font-family: BentonSans Regular,serif; color: #707070; font-size: 17px;">
    {{data.message}}
  </p>
  <p style="font-family: BentonSans Regular,serif;">{{data.subtext}}</p>

</div>

<div mat-dialog-actions fxLayoutAlign="flex-end">

  <button (click)="onNoClick()" style="font-family: BentonSans Regular,serif" mat-button>NO</button>
  <button (click)="accept()" style="color: #0089FF !important; font-family: BentonSans Regular,serif" mat-button>YES
  </button>


</div>

