.dialog-close{
  background: #ffffff !important;
  border: none;
  color: #707070 !important;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

button:focus{
  outline: none !important;
}
