<div class="app-forms" id="containerDiv" >
  <p class="title" *ngIf="!reviewed">{{type}}</p>
  <p class="title" *ngIf="reviewed">{{title}}</p>
  <div class="forms-section">
    <div *ngIf="!reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row" [formGroup]="myFormGroup">
      <div fxFlex="50" fxFlex.md="50">


        <div class="form-stage-section">
          <p class="title-label">Account Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input   pattern="[0-9]*" inputmode="numeric"  maxlength="16" mask="00 0000 000 0000" formControlName="accountNumber" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



        <div class="form-stage-section">
          <p class="title-label">Account Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="name"  matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Amount</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  pattern="[0-9\.]*" step="0.01"  formControlName="totalAmount" mask="separator.2" thousandSeparator=","   matInput  required>
            <span class="prefix-label" matPrefix>{{currency}}&nbsp;</span>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



        <div class="form-stage-section">
          <p class="title-label">ID TYPE</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <mat-select formControlName="idType" required>
              <mat-option>-- None --</mat-option>
              <mat-option  value="Driver">Drivers license</mat-option >
              <mat-option  value="Passport">Passport</mat-option >
              <mat-option  value="Voter">Voters ID</mat-option >
              <mat-option  value="Ssnit">SSNIT ID</mat-option >
              <mat-option  value="National">National ID</mat-option >
              <mat-option  value="Other">Other</mat-option >
            </mat-select>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">ID NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="idNumber" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
      <div fxFlex="50" fxFlex.md="50">




        <div class="form-stage-section" *ngIf="id === '26'">
          <p class="title-label"> BANK</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="creditBank" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section" *ngIf="id === '26'">
          <p class="title-label"> BRANCH</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="bankBranch" type="text" matInput >
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">CHEQUE NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="chequeNo" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section" *ngIf="id === '26'">
          <p class="title-label">DEPOSITOR NAME</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="username" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section" >
          <p class="title-label"> MOBILE NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="mobileNo"    maxlength="10"  pattern="[0-9]*" inputmode="numeric" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>

    <div *ngIf="reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50">
        <div class="form-stage-section">
          <p class="title-label">Account Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('name').value" matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Cheque Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('chequeNo').value" matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN FIGURES</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('totalAmount').value | currency: ' '"  matInput disabled>
            <span class="prefix-label" matPrefix>GHS&nbsp;</span>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="50" fxFlex.md="50">
        <div class="form-stage-section">
          <p class="title-label">Currency</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  [value]="myFormGroup.get('currency').value"  matInput disabled>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN WORDS</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="inWords"  matInput readonly>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="app-footer ">

  <button  *ngIf="!reviewed"  (click)="cancel()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="!reviewed">
    <button class="continue-btn" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  </div>

</div>

<div class="app-footer ">

  <button  *ngIf="reviewed"  (click)="back()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="reviewed">
    <button class="continue-btn" (click)="submit()">SUBMIT</button>
  </div>

</div>



<div class="actions-mobile"  *ngIf="!reviewed">
  <button class="continue" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  <br>
  <button (click)="cancel()"  class="back" >BACK</button>
</div>

<div class="actions-mobile" *ngIf="reviewed">
  <button class="continue" (click)="submit()"  *ngIf="reviewed">SUBMIT</button>
  <br>
  <button (click)="back()"  class="back">BACK</button>
</div>





<ngx-spinner name="accountSpinner" [fullScreen]="true" bdColor="rgba(255,255,255,255)"   color="#0089FF" type="ball-spin-clockwise" size="medium">
  <p style="color: #3C4B6C;">Validating account infomation</p>
</ngx-spinner>
