form#partitioned input[type=number]{
  height: 50px;
  width: 40px;
  text-align: center;
  font-size: 2em;
  margin: 5px;
  padding: 5px;
  border: 1px solid #cccccc;

}


input.inputs::-webkit-outer-spin-button,
input.inputs::-webkit-inner-spin-button {
  display: none !important;
}

input.inputs {
  -moz-appearance: textfield !important;
  font-family: "BentonSans Regular" , Arial !important;
}


.content{

  .signin-text{
    color: #3C4B6C;
    font-family: "BentonSans Regular", serif;
    position: absolute;
    bottom: 5%;
    text-decoration: underline;
    left: 5%;

    .text{
      cursor: pointer;
    }
  }

  .acc{
    width: 300px !important;
  }

  .space {
    margin-right: 5%;
    @media only screen and (max-width: 600px) {
      margin-bottom: 5%;
    }

  }


  .heading{
    color: #3C4B6C;
    font-family: "BentonSans-ExtraLight" , Arial;
    font-size: 30px;
    line-height: 40px;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  .sub-text{
    color: #858D9D;
    font-family: 'BentonSans Light', serif;
    width: 80%;
  }

  .start-img-container{
    padding-top: 30%;

  }

  .start-img{
    width: 100%;


    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .action-buttons{
    margin-top: 5%;

    .btn-one{
      width: 50%;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 10%;
    }




  }
}


.phone-img{
  @media only screen and (max-width: 600px) {
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

#time{
  color: #4BB1B9;
}

.resend-btn{
  background: transparent;
  border: none;
  color: #4BB1B9;
  text-decoration: underline;
  cursor: pointer;
}
