<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayout.md="row"
     fxLayout.sm="row" fxFlexFill>
  <div fxFlex="60" fxFlex.md="60">
    <p class="heading">
      Enter your OTP sent to your <br>
      email address or phone number
    </p>
    <div class="otp-div">
      <form id="partitioned" [formGroup]="otpFormGroup">
        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number" maxlength="1" class="inputs" name="c1" formControlName="c1" pattern="[0-9]*" inputmode="numeric" />

        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number"
          maxlength="1"
          class="inputs"
          name="c2"
          formControlName ="c2"
          pattern="[0-9]*"
          inputmode="numeric"

        />

        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number"
          maxlength="1"
          class="inputs"
          name="c3"
          formControlName ="c3"
          pattern="[0-9]*"
          inputmode="numeric"
        />

        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number"
          maxlength="1"
          class="inputs"
          name="c4"
          formControlName ="c4"
          pattern="[0-9]*"
          inputmode="numeric"

        />

        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number"
          maxlength="1"
          class="inputs"
          name="c5"
          formControlName ="c5"
          pattern="[0-9]*"
          inputmode="numeric"

        />
      </form>
      <table style="width: 100%; !important;">
        <tr>
          <td style="width: 50%">
            <button (click)="resendOTP()" [disabled]="!endedTimer" class="resend-btn"> Resend OTP</button>
          </td>

          <td style="width: 50%; text-align: left">
            <p id="time"></p>
          </td>
        </tr>
      </table>
    </div>


    <div class="action-buttons">
      <button (click)="validate()" [disabled]="otpFormGroup.invalid" class="btn-filled btn-one">CONTINUE</button>
    </div>


  </div>
  <div  fxFlex="40" fxFlex.md="40">
    <img src="assets/images/auth-image.png" style="width: 70%;"  class="phone-img">
  </div>
</div>
