<div class="app-forms" id="containerDiv" >
  <p class="title" *ngIf="!reviewed">{{type}}</p>
  <p class="title" *ngIf="reviewed">{{title}}</p>
  <div class="forms-section">
    <div *ngIf="!reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row" [formGroup]="myFormGroup">
      <div fxFlex="50" fxFlex.md="50">


        <div class="form-stage-section">
          <p class="title-label">School</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="institution" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Student Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="name" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Student ID Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="idNumber" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Phone Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"     pattern="[0-9]*" inputmode="numeric"  formControlName="mobileNo" maxlength="10"  matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Email</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="email" type="text" matInput >
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>






      </div>
      <div fxFlex="50" fxFlex.md="50">

        <div class="form-stage-section">
          <p class="title-label">Amount</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="totalAmount" mask="separator.2" thousandSeparator=","   matInput  required>
            <span class="prefix-label" matPrefix>GHS&nbsp;</span>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Depositor Phone Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"     pattern="[0-9]*" inputmode="numeric"  formControlName="depositorMobile" maxlength="10"  matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Account Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input   pattern="[0-9]*" inputmode="numeric"  maxlength="16" mask="00 0000 000 0000" formControlName="accountNumber" matInput >
          </mat-form-field>
        </div>








      </div>
    </div>

    <div *ngIf="reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50">


        <div class="form-stage-section">
          <p class="title-label">School</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('institution').value"  matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Student Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('name').value"  matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN FIGURES</p>
          <mat-form-field class="forms-input-width" appearance="outline" >
            <input type="text" [value]="myFormGroup.get('totalAmount').value | currency: ' '"   matInput disabled>
            <span class="prefix-label" matPrefix>GHS&nbsp;</span>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="50" fxFlex.md="50">


        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN WORDS</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  [value]="inWords" matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="app-footer ">

  <button  *ngIf="!reviewed"  (click)="cancel()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="!reviewed">
    <button class="continue-btn"  [disabled]="myFormGroup.invalid"  (click)="review()">CONTINUE</button>
  </div>

</div>

<div class="app-footer ">

  <button  *ngIf="reviewed"  (click)="back()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="reviewed">
    <button class="continue-btn" (click)="submit()">SUBMIT</button>
  </div>

</div>


<div class="actions-mobile"  *ngIf="!reviewed">
  <button class="continue" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  <br>
  <button (click)="cancel()"  class="back" >BACK</button>
</div>

<div class="actions-mobile" *ngIf="reviewed">
  <button class="continue" (click)="submit()"  *ngIf="reviewed">SUBMIT</button>
  <br>
  <button (click)="back()"  class="back">BACK</button>
</div>
