

.texts{
  font-family: 'BentonSans Medium', Arial;
  color: #000000;
  font-size: 18px;
}


.dialog-approve-button{
  font-family: "BentonSans Medium";
  font-size: 15px;
  text-transform: uppercase;
  color: #27b676 !important;

}

.dialog-cancel{
  font-family: "BentonSans Medium";
  font-size: 15px;
  text-transform: uppercase;
  color: #7B7B7B !important;
}
