<p class="texts">Mobile Number</p>


<mat-form-field appearance="outline" style="width: 90%">
  <input style="font-size: 15px !important; font-family: 'BentonSans Regular' !important;" matInput type="text"  pattern="[0-9]*" inputmode="numeric"  [(ngModel)]="mobileNo">
</mat-form-field>


<div mat-dialog-actions fxLayoutAlign="flex-end">
  <mat-spinner *ngIf="loading" [diameter]="40"> </mat-spinner>
  <div *ngIf="!loading">
    <button (click)="onNoClick()" class="dialog-cancel" mat-button >CANCEL</button>
    <button (click)="action()" class="dialog-approve-button" mat-button >SEND</button>
  </div>

</div>
