<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayout.md="row"
     fxLayout.sm="column" fxFlexFill>
  <div fxFlex="60" fxFlex.md="60">
    <p class="heading">
      Are you a Stanbic Account Holder?
    </p>
    <mat-radio-group [formControl]="user" aria-label="Select an option">
      <mat-radio-button class="space" value="Y">Yes</mat-radio-button>
      <mat-radio-button class="space" value="N">No</mat-radio-button>
    </mat-radio-group>
    <div class="action-buttons">
      <button [disabled]="user.invalid" (click)="start()" class="btn-filled btn-one"></button>
    </div>

  </div>

  <div fxFlex="40" fxFlex.md="40" fxLayout="row"   >
    <div class="start-img-container">
      <img src="assets/images/customer-img.png" class="start-img">
    </div>

  </div>
</div>

