<div class="main-app">
  <div class="header">
    <mat-toolbar><img src="assets/images/stanbic.png" class="logo">
      {{appTitle}}

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <div class="new-exit" (click)="exit()">

          <p class="sav-txt">Exit</p>
          <img src="assets/images/exit-img.png" class="ex-img">
        </div>

      </div>

    </mat-toolbar>
  </div>

  <div [ngClass]="{'start-container': stage === 'start'}">
    <app-welcome (onStart)="welcomeActions($event)" [hidden]="stage !== 'start'"></app-welcome>
  </div>
  <div [ngClass]="{'start-container': stage === 'customer-type'}">
    <app-customer-type (onCustomerSelect)="customerType($event)" [hidden]="stage !== 'customer-type'"></app-customer-type>
  </div>

  <div *ngIf="stage === 'phone-data'" [ngClass]="{'start-container': stage === 'phone-data'}">
    <app-account-validation (onValidate)="welcomeActions($event)"  [hidden]="stage !== 'phone-data'"></app-account-validation>
  </div>

  <app-services-grid [serviceSelect]="gridBoolean" [qmsApps]="userApps" [customerType]="userType" (onSelectService)="getSelectedService($event)" *ngIf="stage === 'service-select'"></app-services-grid>
  <div *ngIf="selectedService" [ngClass]="{'services-container': stage === 'services'}">

    <app-remitannce *ngIf="stage === 'services' && (selectedService.id === '27' || selectedService.id === '28' || selectedService.id === '29')" (onSubmit)="serviceSubmit($event)"  [type]="selectedService.type"  (onCancel)="serviceCancel($event)"></app-remitannce>

    <app-school-fees *ngIf="stage === 'services' && (selectedService.id === '31')" (onSubmit)="serviceSubmit($event)"  [type]="selectedService.type"  (onCancel)="serviceCancel($event)"></app-school-fees>
    <app-general-inquiry *ngIf="stage === 'services' && (selectedService.id === '30')" (onSubmit)="serviceSubmit($event)"  [type]="selectedService.type"  (onCancel)="serviceCancel($event)"></app-general-inquiry>

    <app-cheque-deposit [id]="selectedService.id" [type]="selectedService.type"   *ngIf="stage === 'services' && (selectedService.id === '25' || selectedService.id === '26')" (onSubmit)="serviceSubmit($event)" (onCancel)="serviceCancel($event)"></app-cheque-deposit>
    <app-cash-deposit [id]="selectedService.id" [type]="selectedService.type"   *ngIf="stage === 'services' && (selectedService.id === '2' || selectedService.id === '3')" (onSubmit)="serviceSubmit($event)" (onCancel)="serviceCancel($event)"></app-cash-deposit>
    <app-cash-redrawal  *ngIf="stage === 'services' && selectedService.id === '1'" (onSubmit)="serviceSubmit($event)" [type]="selectedService.type" (onCancel)="serviceCancel($event)"></app-cash-redrawal>
    <app-mobile-money *ngIf="stage === 'services' && (selectedService.id === '4' || selectedService.id === '5')" (onSubmit)="serviceSubmit($event)"  [type]="selectedService.type"  (onCancel)="serviceCancel($event)"></app-mobile-money>
    <app-external-transfers [fees]="selectedService.charge"  *ngIf="stage === 'services' && selectedService.id === '7'" (onSubmit)="serviceSubmit($event)" [type]="selectedService.type" (onCancel)="serviceCancel($event)"></app-external-transfers>
    <app-internal-transfers  *ngIf="stage === 'services' && selectedService.id === '6'" (onSubmit)="serviceSubmit($event)" [type]="selectedService.type" (onCancel)="serviceCancel($event)"></app-internal-transfers>
    <app-online-banking-services  *ngIf="stage === 'services' && (selectedService.id === '8' || selectedService.id === '9')" (onSubmit)="serviceSubmit($event)"  [type]="selectedService.type"  (onCancel)="serviceCancel($event)" [id]="selectedService.id"></app-online-banking-services>
    <app-momo-linkage  *ngIf="stage === 'services' && selectedService.id === '11'" (onSubmit)="serviceSubmit($event)" [type]="selectedService.type" (onCancel)="serviceCancel($event)"></app-momo-linkage>
    <app-account-number-only-services
      [fees]="selectedService.charge"
      *ngIf="stage === 'services' &&
      (selectedService.id === '12' ||
      selectedService.id === '13'  ||
       selectedService.id === '16' ||
       selectedService.id === '17' ||
       selectedService.id === '18' ||
        selectedService.id === '20' ||
        selectedService.id === '21' ||
        selectedService.id === '23' ||
         selectedService.id === '24' ||
         selectedService.id === '10') "
      (onSubmit)="serviceSubmit($event)"
      [type]="selectedService.type"
      (onCancel)="serviceCancel($event)"></app-account-number-only-services>

    <div *ngIf="selectedService.customerOnly === 'N'">

        <div *ngIf="userType === 'Y'">
          <app-account-number-only-services
            [fees]="selectedService.charge"
            *ngIf="stage === 'services' &&  (selectedService.id === '14' ||  selectedService.id === '19'  || selectedService.id === '22') "
            (onSubmit)="serviceSubmit($event)"
            [type]="selectedService.type"
            (onCancel)="serviceCancel($event)"></app-account-number-only-services>
        </div>

      <div *ngIf="userType === 'N'">
        <app-phone-number-services
          [fees]="selectedService.charge"
          *ngIf="stage === 'services' &&  (selectedService.id === '14' ||  selectedService.id === '19'  || selectedService.id === '22') "
          (onSubmit)="serviceSubmit($event)"
          [type]="selectedService.type"
          (onCancel)="serviceCancel($event)"></app-phone-number-services>
      </div>
    </div>

  </div>

  <div *ngIf="stage === 'success'">
    <app-success-page [alt]="alt" (onDone)="welcomeActions($event)" [ticketNumber]="ticketNumber" [hidden]="stage !== 'success'"></app-success-page>
  </div>

</div>

<ngx-spinner name="submissionSpinner" [fullScreen]="true" bdColor="rgba(255,255,255,255)"   color="#0089FF" type="ball-spin-clockwise" size="medium">
  <p style="color: #3C4B6C;">Your request is being processed</p>
</ngx-spinner>
