
.main-app{
  font-family: 'BentonSans Regular', Arial;
  overflow: hidden;


  .forms-input-width{
    width: 100%;
    margin-top: 1%;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px !important;
  }

  ::ng-deep.mat-form-field{
    font-family: 'BentonSans Regular' !important;
    font-size: 18px;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix{
    padding-bottom: 0.5em;
    padding-top: unset;
    padding-right: unset;
    padding-left: unset;
  }

  .agreement-div{
    @media only screen and (max-width: 600px) {
      margin-left: 10%;
    }
  }


  .otp-div{
    width: 500px;

    @media only screen and (max-width: 600px) {
      width: unset;
    }
  }

  .phone-img{
    @media only screen and (max-width: 600px) {
      width: 60% !important;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .new-exit{
    width: 190px;
    background-color: #0089FF;
    height: 64px;
    color: #ffffff;
    max-height: 64px !important;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'BentonSans Regular', Arial;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      height: 56px;
      width: 100px;
    }
  }

  .ex-img{
    width: 15%;
    margin-left: 20px;
  }

  .sav-txt{
    padding-top: 17px;
  }

  .package-name{
    color: #ffffff;
    font-family: "BentonSans Regular", Arial;
    font-size: 15px;
    padding-top: 17px;

    @media only screen and (max-width: 600px) {
      display: none;
    }

  }

  .document-container{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .submit-div-links{
    display: flex;
    flex-direction: column;

    .continue-btn{
      margin-top: 2%;
      background-color: #0089FF;
      color: #ffffff;
      border: 2px solid #0089FF;
      font-family: "BentonSans-Bold", Arial;
      padding: 10px 70px;
      cursor: pointer;
      height: 35%;

      @media only screen and (max-width: 600px) {
        height: 38px;
        width: 100%;
        margin-bottom: 3%;
        padding: 5px 35px;
      }
    }

    .submit-link{
      color: #0089FF;
      text-decoration: underline;
      cursor: pointer;
    }
  }


  .checkbox-container{
    margin-top: 5%;
    margin-bottom: 6%;
  }


  #time{
    color: #4BB1B9;
  }

  .resend-btn{
    background: transparent;
    border: none;
    color: #4BB1B9;
    text-decoration: underline;
    cursor: pointer;
  }

  ::ng-deep .mat-simple-snackbar {
    font-family: 'BentonSans Light', Arial  !important;
    font-size: 20px  !important;
  }

  ::ng-deep .mat-snack-bar-container{
    font-family: 'BentonSans Light', Arial  !important;
    font-size: 20px  !important;
  }


  ::ng-deep .dropify-wrapper{
    font-family: 'BentonSans Light', Arial;
    border: 1px dashed #bec2cb;
    height: 150px;

    @media only screen and (max-width: 600px) {
      width: 90%;
      height: 145px;
    }
  }

  ::ng-deep .dropify-message{
    .upload-title{
      color: #010144 !important;
      font-family: "BentonSans Regular" , Arial !important;
    }
  }

  ::ng-deep.dropify-wrapper:hover{
    background-image: unset;
  }

  .notice-text{
    font-size: 18px;
    font-family: "BentonSans Light", Arial !important;
  }

  ::ng-deep .dropify-wrapper .dropify-preview {
    background: #00ad6c;
    border: unset !important;

  }

  .mock-upload-window{
    background: #00ad6c;
    width: 100%;
    height: 120px;
    color: white;
    text-align: center;
    padding-top: 40px;
    border: 1px solid #bec2cb;
  }

  ::ng-deep.dropify-wrapper .dropify-preview .dropify-render i {
    display: none;
  }

  ::ng-deep.dropify-clear{
    border: none;
  }

  ::ng-deep.dropify-wrapper .dropify-preview .dropify-render .dropify-extension {
    width: 100%;
    color: #ffffff;
    text-transform: capitalize;
  }

  .success{
    margin-top: 10%;
    text-align: center;

    .congrats-sub-text{
      font-family: "BentonSans Light";
      font-size: 20px;
      color: #3C4B6C;
      width: 80%;
      padding-left: 10%;
      line-height: 30px;
    }
  }

  .remove-option{
    color: #0089FF;
    font-family: "BentonSans Regular";
    float: right;
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    align-items: flex-end;
  }
  .add-financials-link{
    color: #0089FF;
    font-family: "BentonSans Regular";
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    align-items: flex-end;
  }


  .header {
    position: sticky;
    top: 0;
    z-index: 4;
    .mat-toolbar{
      background-color:  #0033A1;
      color: #ffffff;
      font-family: 'BentonSans Medium', Arial;
      padding-left: 5%;
      padding-right: 5%;

      @media only screen and (max-width: 768px) {
        padding-left: 5%;
        padding-right: 5%;

      }

      @media only screen and (max-width: 1400px) {
        padding-left: 5%;
        padding-right: 5%;

      }

      .exit{
        display: none;


        .exit-img{
          width: 15%;

          @media only screen and (max-width: 600px) {
            width: 30%;
          }
        }

        .saved-text{

          font-family: "BentonSans Light";
          color: #ffffff;
          font-size: 15px;
          padding-top: 10px;
          padding-left: 5px;

          @media only screen and (max-width: 600px) {
            display: none;
          }

        }
        @media only screen and (max-width: 600px) {
          width: 50px !important;
          height: -webkit-fill-available;

          background-color: #0089FF;
          display: flex;
          justify-content: center;
          align-items: center;

        }

        @media only screen and (max-width: 768px) {
          width: 150px;
          height: -webkit-fill-available;
          background-color: #0089FF;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;

        }
      }

      @media only screen and (max-width: 600px) {
        padding-left: 5%;
        font-size: 15px;
        padding-right: 5%;
      }

      .logo{
        width: 3%;
        margin-right: 0.5%;

        @media only screen and (max-width: 768px) {
          width: 7%;
        }

        @media only screen and (max-width: 600px) {
          width: 10%;
        }
      }
    }

  }

  .start-container{
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;

    @media only screen and (max-width: 600px) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .services-container{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;

    @media only screen and (max-width: 600px) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .main-container{



    .calculator-container{
      padding-top: 3%;
      padding-left: 15%;
      padding-right: 15%;
    }

    .app-forms{
      padding-top: 3%;
      padding-left: 15%;
      padding-right: 15%;
      height: 65vh;
      overflow-y: scroll;

      @media only screen and (max-width: 768px) {
        padding-left: 5%;
        padding-right: 5%;
        height: 75vh;


      }

      @media only screen and (max-width: 1400px) {
        padding-left: 5%;
        padding-right: 5%;
        height: 75vh;

      }

      @media only screen and (max-width: 600px) {
        padding-left: 5%;
        padding-right: 5%;
        height: 65vh;
      }

      .sub-title-main-app{
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }


      ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: #ccc;
        border-width: 1px;
      }

      ::ng-deep .mat-radio-outer-circle {
        border-width: 1px;
        border-color: #ccc;
      }

      .prefix-label{
        display: table-caption;
        color: #ccc;
        font-size: 15px;
        padding-right: 3%;
      }

      .form-section{
        margin-bottom: 5%;
      }

      .form-stage-section{
        margin-bottom: 1%;
      }

      .forms-section{
        padding-top: 5%;

        ::ng-deep .mat-radio-button{
          font-family: "BentonSans Regular", Arial;
        }

        .radio-container{
          margin-top: 2%;


          .space{
            margin-right: 5%;
            @media only screen and (max-width: 600px) {
              margin-bottom: 5%;
            }


          }

          .space-alt{
            margin-right: 20%;
            @media only screen and (max-width: 600px) {
              margin-bottom: 5%;
            }
          }
        }


      }
    }

    .footer-shadow{
      box-shadow: 0 -8px 8px -8px rgba(0,0,0,.5);
    }

    .app-footer{
      height: 15vh;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-left: 15%;
      padding-right: 15%;
      background: #ffffff;


      @media only screen and (max-width: 1400px) {
  //  height: 10vh;

  }


      @media only screen and (max-width: 600px) {
    display: none !important;
  }


.back-btn{
        margin-top: 2%;
        background-color: #ffffff;
        color: #0089FF;
        border: 2px solid #0089FF;
        font-family: "BentonSans-Bold", Arial;
        padding: 10px 70px;
        cursor: pointer;
        height: 35%;

        @media only screen and (max-width: 600px) {
          height: 50px;
          margin-bottom: 3%;
          padding: 5px 35px;


        }
      }

      .continue-btn{
        margin-top: 2%;
        background-color: #0089FF;
        color: #ffffff;
        border: 2px solid #0089FF;
        font-family: "BentonSans-Bold", Arial;
        padding: 10px 70px;
        cursor: pointer;
        height: 35%;

        @media only screen and (max-width: 600px) {
          height: 38px;
          width: 100%;
          margin-bottom: 3%;
          padding: 5px 35px;
        }
      }
    }



    .app-header{

      .mobile-description{

        display: none;

        @media only screen and (max-width: 600px) {
          display: flex;
          background: #ffffff;
          justify-content: center;
          flex-direction: column;
          padding-top: 4%;
          padding-bottom: 4%;

          .title-text {
            font-family: "BentonSans Light";
            color: #858D9D;
            font-size: 16px;
            text-align: center;
          }

          .desc-text {
            font-family: "BentonSans Regular";
            color: #858D9D;
            font-size: 14px;
            text-align: center;
          }
        }
      }

      .mobile-stepper-container{
        display: none;

        @media only screen and (max-width: 600px) {
          display: flex;
          height: 80px;
          padding-left: 5%;
          padding-right: 5%;
          background-color: #3C4B6C;
          color: #ffffff;
          flex-direction: column;
          justify-content: center;

          .dot-space{
            margin-right: 25%;
          }

          .dot {
            height: 10px;
            width: 10px;
            background-color: #ffffff;
            border-radius: 50%;
            display: inline-block;

            @media only screen and (max-width: 375px) {

            }

            @media only screen and (max-width: 360px) {

            }

            @media only screen and (max-width: 320px) {

            }
          }

          .active-dot{
            height: 10px;
            width: 10px;
            background-color: #F86700;
            border-radius: 50%;
            display: inline-block;

            @media only screen and (max-width: 375px) {

            }

            @media only screen and (max-width: 360px) {

            }

            @media only screen and (max-width: 320px) {

            }



          }


          .progress-text{
            color: #ffffff;
            font-family: "BentonSans Light";
            font-size: 16px;
            text-align: center;

          }

          .points-stepper{
            position: fixed;
            width: 100%;
            margin-top: 35px;

            @media only screen and (max-width: 320px) {
              margin-top: 5.5%;
            }


          }

          .stepper-lines {
            width: 94% !important;
            background-color: white;
            height: 1px;

          }
        }
      }

      .inner-toolbar{

      }

      .mat-toolbar{
        background-color: #3C4B6C;
        color: #ffffff;
        height: 50px;
        padding-left: 14%;
        padding-right: 15%;

        @media only screen and (max-width: 768px) {
          padding-left: 5%;
          padding-right: 5%;

        }

        @media only screen and (max-width: 1400px) {
          padding-left: 5%;
          padding-right: 5%;

        }

        @media only screen and (max-width: 600px) {
          display: none !important;
        }

        .help{
          display: block;

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }




        .progress{
          color: #ffffff;
          font-family: "BentonSans Light";
          font-size: 16px;
          position: absolute;
          left: 37%;
          padding-top: 15px;

          @media only screen and (max-width: 768px) {
            left: 17%;
          }

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }

        .save-div{
          display: block;
          background-color: #0089FF;
          width: fit-content;
          height: auto;
          color: #ffffff;
          font-family: "BentonSans Light";
          font-size: 16px;
          cursor: pointer;
          display: inline-flex;
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }

        .saved-text{
          color: #ffffff;
          font-family: "BentonSans Light";
          font-size: 16px;
          padding-top: 1%;
          display: block;

          @media only screen and (max-width: 768px) {
            font-size: 13px;
          }

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }

        .stepper-line{
          position: absolute;
          width: 310px;
          background-color: white;
          height: 1px;
          left: 40%;

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }

        .dot {
          height: 10px;
          width: 10px;
          background-color: #808A9F;
          border-radius: 50%;
          margin-right: 90px;
          display: inline-block;
          margin-bottom: 1px;

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }

        .active-dot{
          height: 10px;
          width: 10px;
          background-color: #F86700;
          border-radius: 50%;
          margin-right: 90px;
          display: inline-block;
          margin-bottom: 1px;

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }

        .points-stepper{
          position: absolute;
          left: 40%;
          z-index: 4;
        }
      }
    }

    .form-input-width{
      width: 50%;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .forms-input-width{
      width: 100%;
      margin-top: 1%;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-radius: 0px !important;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
      border-radius: 0px !important;
    }

    ::ng-deep.mat-form-field{
      font-family: 'BentonSans Regular' !important;
      font-size: 18px;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix{
      padding-bottom: 0.5em;
      padding-top: unset;
      padding-right: unset;
      padding-left: unset;
    }

    .review-panels{
      margin-bottom: 1%;

      .titles{
        color: #3C4B6C;
        font-size: 20px;

        @media only screen and (max-width: 600px) {
          font-size: 15px;
        }
      }

      .edits{
        position: absolute;
        left: 92%;
        color: #0089FF;
        font-family: "BentonSans Regular";
        font-size: 17px;

        @media only screen and (max-width: 600px) {
          font-size: 13px;
          left: 80%;
          padding-top: 1%;
        }
      }

      ::ng-deep.mat-expansion-panel-header{
        background: #F2F3F4;
        font-family: "BentonSans Light";

      }

      ::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]){
        box-shadow: unset;
      }

      ::ng-deep.mat-expansion-indicator::after{
        color: #0089FF !important;
      }
    }

    .content{
      padding-top: 10% !important;
      padding-left: 15%;
      padding-right: 15%;

      @media only screen and (max-width: 768px) {
        padding-left: 5%;
        padding-right: 5%;
      }
      .heading{
        color: #3C4B6C;
        font-family: "BentonSans-ExtraLight" , Arial;
        font-size: 42px;
        line-height: 60px;

        @media only screen and (max-width: 600px) {
          font-size: 32px;
          line-height: 36px;
        }

      }

      .action-buttons{
        margin-top: 5%;
        margin-bottom: 5%;

        .btn-one{
          width: 50%;
        }

      }
    }

  }

  form#partitioned input[type=number]{
    height: 50px;
    width: 40px;
    text-align: center;
    font-size: 2em;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;

  }


  input.inputs::-webkit-outer-spin-button,
  input.inputs::-webkit-inner-spin-button {
    display: none !important;
  }

  input.inputs {
    -moz-appearance: textfield !important;
    font-family: "BentonSans Regular" , Arial !important;
  }




}

