.content{
  .heading{
    color: #3C4B6C;
    font-family: "BentonSans-ExtraLight" , Arial;
    font-size: 30px;
    line-height: 40px;
    @media only screen and (max-width: 600px) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  .sub-text{
    color: #858D9D;
    font-family: 'BentonSans Light', serif;
    width: 80%;
  }

  .start-img-container{
padding-top: 50%;

  }

  .start-img{
    width: 100%;


    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .action-buttons{
    margin-top: 5%;

    .btn-one{
      width: 50%;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 10%;
    }

    .btn-one:after{
      width: 100%;
      content: "GET STARTED";

      @media only screen and (max-width: 600px) {
        content: "GET STARTED";
      }

    }

    .btn-two:after{
      width: 50%;
      content: "CONTINUE APPLICATION";

      @media only screen and (max-width: 600px) {
        content: "CONTINUE APP.";
      }

    }

    .btn-two{
      width: 45%;
    }
  }
}
