<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayout.md="row"
     fxLayout.sm="column" fxFlexFill>
  <div fxFlex="60" fxFlex.md="60">
    <p class="heading">
      Welcome to Stanbic Workflow Platform
    </p>
    <p class="sub-text">
      Kindly use this platform to log your banking request.
    </p>
    <div class="action-buttons">
      <button (click)="start()" class="btn-filled btn-one"></button>
    </div>

  </div>

  <div fxFlex="40" fxFlex.md="40" fxLayout="row"   >
    <div class="start-img-container">
      <img src="assets/images/start-img.png" class="start-img">
    </div>

  </div>
</div>

