<h2 style="font-family:  'BentonSans Regular',serif !important; text-align: center;">Select your branch</h2>
<div style="margin-top: 10%; margin-bottom: 10%">
  <select [(ngModel)]="selectedBranch" name="selectedBranch" style="width: 100%; height: 30px; font-size: 15px; border: 1px solid #cccccc">
    <option  value="AIRPORT CITY BRANCH">HEAD OFFICE</option>
    <option *ngFor="let branch of branches" value="{{branch.branch}}">{{branch.branch}}</option>
  </select>
</div>

<button (click)="close()" style="font-family: 'BentonSans Regular'; color: #ffffff; text-align: center; font-size: 18px; margin-left: auto; margin-right: auto; cursor: pointer; display: block; height: 30px; border: none; background: #0033A1; padding: 3px; border-radius: 5px; width: 120px">
  SUBMIT
</button>
