<div class="app-forms" id="containerDiv" >
  <p class="title" *ngIf="!reviewed">{{type}}</p>
  <p class="title" *ngIf="reviewed">{{title}}</p>
  <div class="forms-section">
    <div *ngIf="!reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row" [formGroup]="myFormGroup">
      <div fxFlex="50" fxFlex.md="50">

        <div class="form-stage-section">
          <p class="title-label">Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="name"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Date of Birth </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input   formControlName="dob" name="dob" placeholder="DD/MM/YY" matInput [matDatepicker]="picker" [max]="todayDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Residential address </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="address"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Mobile Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="mobileNo"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Country</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="country"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Occupation</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="occupation"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



        <div class="form-stage-section">
          <p class="title-label">ID TYPE</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <mat-select formControlName="idType" required>
              <mat-option>-- None --</mat-option>
              <mat-option  value="Driver">Drivers license</mat-option >
              <mat-option  value="Passport">Passport</mat-option >
              <mat-option  value="Voter">Voters ID</mat-option >
              <mat-option  value="Ssnit">SSNIT ID</mat-option >
              <mat-option  value="National">National ID</mat-option >
              <mat-option  value="Other">Other</mat-option >
            </mat-select>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>








      </div>
      <div fxFlex="50" fxFlex.md="50">

        <div class="form-stage-section">
          <p class="title-label">ID NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="idNumber" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Amount</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  pattern="[0-9\.]*" step="0.01"  formControlName="totalAmount" mask="separator.2" thousandSeparator=","   matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Currency</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="currency"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



        <div class="form-stage-section">
          <p class="title-label">Relationship with sender </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="relationshipSender"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Reason for Transfer </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="transferReason" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Answer to test question </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="testAnswer" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Account Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input   pattern="[0-9]*" inputmode="numeric"  maxlength="16" mask="00 0000 000 0000" formControlName="accountNumber" matInput >
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



      </div>
    </div>

    <div *ngIf="reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50">



        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN FIGURES</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('totalAmount').value | currency: ' '"  matInput disabled>
            <span class="prefix-label" matPrefix>GHS&nbsp;</span>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">Country</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('country').value"   matInput  disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Residential address </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('address').value"  matInput  disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div fxFlex="50" fxFlex.md="50">

        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN WORDS</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="inWords" matInput  disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Mobile Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('mobileNo').value" matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Answer to test question </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input [value]="myFormGroup.get('testAnswer').value" type="text" matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="app-footer ">

  <button  *ngIf="!reviewed"  (click)="cancel()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="!reviewed">
    <button class="continue-btn" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  </div>

</div>

<div class="app-footer ">

  <button  *ngIf="reviewed"  (click)="back()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="reviewed">
    <button class="continue-btn" (click)="submit()">SUBMIT</button>
  </div>

</div>



<div class="actions-mobile"  *ngIf="!reviewed">
  <button class="continue" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  <br>
  <button (click)="cancel()"  class="back" >BACK</button>
</div>

<div class="actions-mobile" *ngIf="reviewed">
  <button class="continue" (click)="submit()"  *ngIf="reviewed">SUBMIT</button>
  <br>
  <button (click)="back()"  class="back">BACK</button>
</div>
