.app-forms {
  padding-left: 3%;
  padding-right: 3%;
  height: 70vh;
  overflow-y: scroll;

  @media only screen and (max-width: 768px) {
    padding-left: 5%;
    padding-right: 5%;
    height: 75vh;


  }

  @media only screen and (max-width: 1400px) {
    padding-left: 5%;
    padding-right: 5%;
    height: 75vh;

  }

  @media only screen and (max-width: 600px) {
    padding-left: 5%;
    padding-right: 5%;
    height: 65vh;
  }

  .sub-title-main-app {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }


  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #ccc;
    border-width: 1px;
  }

  ::ng-deep .mat-radio-outer-circle {
    border-width: 1px;
    border-color: #ccc;
  }

  .prefix-label {
    display: table-caption;
    color: #ccc;
    font-size: 15px;
    padding-right: 3%;
  }

  .form-section {
    margin-bottom: 5%;
  }

  .form-stage-section {
    margin-bottom: 1%;
  }

  .forms-section {
    padding-top: 2%;

    ::ng-deep .mat-radio-button {
      font-family: "BentonSans Regular", Arial;
    }

    .radio-container {
      margin-top: 2%;


      .space {
        margin-right: 5%;
        @media only screen and (max-width: 600px) {
          margin-bottom: 5%;
        }


      }

      .space-alt {
        margin-right: 20%;
        @media only screen and (max-width: 600px) {
          margin-bottom: 5%;
        }
      }
    }


  }
}


.form-input-width {


  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.forms-input-width {
  width: 80%;
  margin-top: 1%;
}

.app-footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding-left: 5%;
  padding-right: 15%;
  background: #ffffff;


  @media only screen and (max-width: 1400px) {
    //  height: 10vh;

  }


  @media only screen and (max-width: 600px) {
    display: none !important;
  }

  .back-btn {
    margin-top: 2%;
    background-color: #ffffff;
    color: #0089FF;
    border: 2px solid #0089FF;
    font-family: "BentonSans-Bold", Arial;
    padding: 10px 70px;
    cursor: pointer;
    height: 35%;

    @media only screen and (max-width: 600px) {
      height: 50px;
      margin-bottom: 3%;
      padding: 5px 35px;


    }
  }

  .continue-btn {
    margin-top: 2%;
    background-color: #0089FF;
    color: #ffffff;
    border: 2px solid #0089FF;
    font-family: "BentonSans-Bold", Arial;
    padding: 10px 70px;
    cursor: pointer;
    height: 50px;

    @media only screen and (max-width: 600px) {
      height: 38px;
      width: 100%;
      margin-bottom: 3%;
      padding: 5px 35px;
    }
  }
}

.footer-shadow {
  box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, .5);
}


.submit-div-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .continue-btn {
    margin-top: -10%;
    background-color: #0089FF;
    color: #ffffff;
    border: 2px solid #0089FF;
    font-family: "BentonSans-Bold", Arial;
    padding: 10px 70px;
    cursor: pointer;
    height: 50px;


    @media only screen and (max-width: 600px) {
      height: 38px;
      width: 100%;
      margin-bottom: 3%;
      padding: 5px 35px;
    }
  }

  .submit-link {
    color: #0089FF;
    text-decoration: underline;
    cursor: pointer;
  }
}


.sub-heading {
  color: #858D9D;
  font-family: "BentonSans Book";
  font-size: 23px;
  margin-bottom: -10px;
}

.icons-notes {
  color: #858D9D !important;
  margin-right: 15px;
  vertical-align: text-bottom !important;
}

.icons-coins {
  color: #858D9D !important;
  margin-right: 15px;
  font-size: 30px !important;
  width: 30px !important;
  vertical-align: text-bottom !important;
}

.icons-div {

  margin-bottom: 20px;

}

.radio-container {
  margin-top: 2%;


  .space {
    margin-right: 5%;
    @media only screen and (max-width: 600px) {
      margin-bottom: 5%;
    }


  }

  .space-alt {
    margin-right: 20%;
    @media only screen and (max-width: 600px) {
      margin-bottom: 5%;
    }
  }
}

:host ::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding-left: 0;
  }

  mat-hint {
    color: #0089FF;
    font-size: 11px;
  }
}
