<div class="app-forms" id="containerDiv" >
  <p class="title" *ngIf="!reviewed">{{type}}</p>
  <p class="title" *ngIf="reviewed">{{title}}</p>
  <div class="forms-section">
    <div *ngIf="!reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50"  [formGroup]="myFormGroup">


        <div class="form-stage-section">
          <p class="title-label">Account Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" maxlength="16"   pattern="[0-9]*" inputmode="numeric"  mask="00 0000 000 0000"   formControlName="accountNumber" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



        <div class="form-stage-section">
          <p class="title-label">Account Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="name"  matInput >
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section"  *ngIf="id === '3'">
          <p class="title-label">ID TYPE</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <mat-select formControlName="idType" required>
              <mat-option>-- None --</mat-option>
              <mat-option  value="Driver">Drivers license</mat-option >
              <mat-option  value="Passport">Passport</mat-option >
              <mat-option  value="Voter">Voters ID</mat-option >
              <mat-option  value="Ssnit">SSNIT ID</mat-option >
              <mat-option  value="National">National ID</mat-option >
              <mat-option  value="Other">Other</mat-option >
            </mat-select>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section" *ngIf="id === '3'">
          <p class="title-label">ID NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="idNumber" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">DEPOSITOR NAME</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="username" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">DEPOSITOR PHONE</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="mobileNo"  maxlength="10"  pattern="[0-9]*" inputmode="numeric"  type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section"  *ngIf="id === '3'">
          <p class="title-label">Residential address </p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="address"  matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="50" fxFlex.md="50">
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex="50">
            <form [formGroup]="notesFormGroup" *ngIf="isReadyNotes">
            <div class="icons-div">
              <mat-icon svgIcon="notes" class="icons-notes"></mat-icon>
              <span class="sub-heading">NOTES</span>
            </div>

            <div formArrayName="notes" *ngFor="let item of notesFormGroup.get('notes').controls; let i = index;">
              <ng-container [formGroupName]="i">

              <div class="form-stage-section">
                <p class="title-label">GHS {{notesDenomination[i].value}}</p>
                <mat-form-field class="forms-input-width" appearance="outline">
                  <input type="text" formControlName="count"   pattern="[0-9]*" inputmode="numeric"   matInput  required>
                  <mat-hint *ngIf="notesFormGroup.value.notes[i].count">GHS {{notesDenomination[i].value * notesFormGroup.value.notes[i].count  | number}}</mat-hint>
<!--                  <span class="prefix-label" matPrefix>GHS&nbsp;</span>-->
                </mat-form-field>
              </div>


              </ng-container>
            </div>
            </form>
          </div>
          <div fxFlex="50">
            <form [formGroup]="coinsFormGroup" *ngIf="isReadyCoins">
            <div class="icons-div">
              <mat-icon svgIcon="coins" class="icons-coins"></mat-icon>
              <span class="sub-heading">COINS</span>
            </div>


            <div formArrayName="coins" *ngFor="let item of coinsFormGroup.get('coins').controls; let i = index;">
              <ng-container [formGroupName]="i">

              <div class="form-stage-section">
                <p class="title-label">{{coinsDenomination[i].cur}}</p>
                <mat-form-field class="forms-input-width" appearance="outline">
                  <input type="text" formControlName="count"  matInput  required>
                  <mat-hint *ngIf="coinsFormGroup.value.coins[i].count">
                    {{ (coinsDenomination[i].value * coinsFormGroup.value.coins[i].amount) >= 1 ? 'GHS ' + (coinsDenomination[i].value * coinsFormGroup.value.coins[i].count | number) : (coinsDenomination[i].value * coinsFormGroup.value.coins[i].count | currency: 'GHS': 'GHS ')}}
                  </mat-hint>
<!--                  <span class="prefix-label" matPrefix>GHS&nbsp;</span>-->
                </mat-form-field>
              </div>
              </ng-container>
            </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50">
        <div class="form-stage-section">
          <p class="title-label">Account Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('name').value"   matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN FIGURES</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="totalVal | currency: ' '" matInput disabled>
            <span class="prefix-label" matPrefix>GHS&nbsp;</span>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="50" fxFlex.md="50">
        <div class="form-stage-section">
          <p class="title-label">Currency</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('currency').value"   matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">TOTAL AMOUNT IN WORDS</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="inWords" matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="app-footer ">

  <button  *ngIf="!reviewed"  (click)="cancel()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="!reviewed">
    <button class="continue-btn" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  </div>

</div>

<div class="app-footer ">

  <button  *ngIf="reviewed"  (click)="back()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="reviewed">
    <button class="continue-btn" (click)="submit()">SUBMIT</button>
  </div>

</div>


<div class="actions-mobile"  *ngIf="!reviewed">
  <button class="continue" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  <br>
  <button (click)="cancel()"  class="back" >BACK</button>
</div>

<div class="actions-mobile" *ngIf="reviewed">
  <button class="continue" (click)="submit()"  *ngIf="reviewed">SUBMIT</button>
  <br>
  <button (click)="back()"  class="back">BACK</button>
</div>

<ngx-spinner name="accountSpinner" [fullScreen]="true" bdColor="rgba(255,255,255,255)"   color="#0089FF" type="ball-spin-clockwise" size="medium">
  <p style="color: #3C4B6C;">Validating account infomation</p>
</ngx-spinner>
