<div class="app-forms" id="containerDiv" >
  <p class="title" *ngIf="!reviewed">{{type}}</p>
  <p class="title" *ngIf="reviewed">{{title}}</p>
  <div class="forms-section">
    <div *ngIf="!reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row" [formGroup]="myFormGroup">
      <div fxFlex="50" fxFlex.md="50">



        <div class="form-stage-section">
          <p class="title-label">Account Number</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" maxlength="16" mask="00 0000 000 0000"  mask="00 0000 000 0000"   pattern="[0-9]*" inputmode="numeric"  formControlName="accountNumber"   matInput  required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

        <div class="form-stage-section">
          <p class="title-label">Account Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="name"  matInput required >
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>




      </div>
      <div fxFlex="50" fxFlex.md="50">

        <div class="form-stage-section">
          <p class="title-label">Phone Number</p>
          <mat-form-field class="forms-input-width"appearance="outline">
            <input type="text"  maxlength="10"   pattern="[0-9]*" inputmode="numeric"  formControlName="mobileNo"  matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



        <div class="form-stage-section">
          <p class="title-label">PROVIDER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <mat-select formControlName="operator" required>
              <mat-option>-- None --</mat-option>
              <mat-option  value="MTN Mobile Money">MTN Mobile Money</mat-option >
              <mat-option  value="Vodafone Cash">Vodafone Cash</mat-option >
              <mat-option  value="AirtelTigo Money">AirtelTigo Money</mat-option >
            </mat-select>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>

    <div *ngIf="reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50">


        <div class="form-stage-section">
          <p class="title-label">Account Name</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('name').value" matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


        <div class="form-stage-section">
          <p class="title-label">PHONE NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text" [value]="myFormGroup.get('mobileNo').value"  matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>


      </div>

      <div fxFlex="50" fxFlex.md="50">

        <div class="form-stage-section">
          <p class="title-label">PROVIDER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  [value]="myFormGroup.get('operator').value"   matInput disabled>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="app-footer ">

  <button  *ngIf="!reviewed"  (click)="cancel()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="!reviewed">
    <button class="continue-btn"   [disabled]="myFormGroup.invalid && accountVerified"  (click)="review()">CONTINUE</button>
  </div>

</div>

<div class="app-footer ">

  <button  *ngIf="reviewed"  (click)="back()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="reviewed">
    <button class="continue-btn" (click)="submit()">SUBMIT</button>
  </div>

</div>


<div class="actions-mobile"  *ngIf="!reviewed">
  <button class="continue" [disabled]="myFormGroup.invalid" (click)="review()">CONTINUE</button>
  <br>
  <button (click)="cancel()"  class="back" >BACK</button>
</div>

<div class="actions-mobile" *ngIf="reviewed">
  <button class="continue" (click)="submit()"  *ngIf="reviewed">SUBMIT</button>
  <br>
  <button (click)="back()"  class="back">BACK</button>
</div>

<ngx-spinner name="accountSpinner" [fullScreen]="true" bdColor="rgba(255,255,255,255)"   color="#0089FF" type="ball-spin-clockwise" size="medium">
  <p style="color: #3C4B6C;">Validating account infomation</p>
</ngx-spinner>
