

.text{


  @media only screen and (max-width: 600px) {
    font-size: 10px;
    line-height: 14px;
  }
}
.search{

  background: #ffffff;
  width: 100%;

  @media only screen and (max-width: 600px) {

    position: absolute;
    //top: 8%;
  }

  input:focus{
    outline: none;
  }

  padding-top: 2%;

  .search-ic{
    position: absolute;
    left: 6%;
    margin-top: 10px;
  }

  .search-input{
    width: 80%;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3%;
    font-size: 20px;
    border: 1px solid #707070;
    border-radius: 20px;
    margin-left: 5%;

    @media only screen and (max-width: 1400px) {
      padding-left: 5%;
    }
  }
}
.texts{
  font-size: 16px;
  padding-top: 5px;

  @media only screen and (max-width: 600px) {
    font-size: 14px
  }
}

.ics{
  font-size: 30px !important;
  height: 30px !important;
  width: 30px !important;

}

.sub{
  color: #858D9D;
  font-size: 15px;
}
.landing-title{
  color: #3C4B6C;
  font-family: "BentonSans Book";
  font-size: 25px;
  line-height: 35px;
}

@media screen and (max-width: 480px) {
  .landing-title{
    padding-top: 15%;
    color: #3C4B6C;
    font-family: "BentonSans Book";
    font-size: 20px;
    line-height: 30px;
  }
}

.main-cont{
  height: 100vh;


  @media screen and (max-width: 480px) {
    overflow-y: scroll;
  }
}

.space-start{

  @media screen and (max-width: 480px) {
    margin-top: 20px;
  }
}

.page-content{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;

  @media screen and (max-width: 480px) {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;

  }
}

.menu-tiles{

  padding-top: 5%;
}

@media screen and (max-width: 480px) {

  .tile-one, .tile-two, .tile-three, .tile-four, .tile-five, .tile-six, .new-tile-one, .new-tile-two{
    height: 150px !important;
  }

  .texts{
    font-size: 13px;
  }


}


.tile-one{
  background: #329B7F;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;

}

.tile-two{
  background: #AF2D55;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;

}

.new-tile-one{
  background: #264653;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.new-tile-two{
  background: #9D9C9C;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}


.tile-three{
  background: #5B1281;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.tile-four{
  background: #E27C34;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.tile-five{
  background: #3062CE;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}

.tile-six{
  background: #2888D9;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding-left: 2%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;


}


.landing-icon{
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  padding-top: 10%;

}

.mobile-icon{
  @media only screen and (max-width: 600px) {
    width: 50%;
    padding-top: 5% !important;
  }
}


.mobile-icon-alt{
  @media only screen and (max-width: 600px) {
    padding-top: 5% !important;
  }
}

.landing-icon-alt{
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  padding-top: 23%;



}


.txt{
  margin-top: 15%;
}

.user-ic{
  padding-top: 30%;
}



.icons-sec{
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.icons-sec:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.service-list{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 70%;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.service-title{
  color: #0A2240;
  font-family: "BentonSans Regular", serif;
  font-size: 18px;
}

.service-desc{
  color: #3C4B6C;
  font-family: "BentonSans Light", serif;
  font-size: 13px;
  line-height: 2px;



  @media only screen and (max-width: 600px) {
    line-height: 15px;
  }
}

.grids{
 padding-bottom: 30px;
}



.back-btn{
  margin-top: 2%;
  background-color: #ffffff;
  color: #0089FF;
  border: 2px solid #0089FF;
  font-family: "BentonSans-Bold", Arial;
  padding: 10px 70px;
  cursor: pointer;
  height: 35%;

  @media only screen and (max-width: 600px) {
    height: 50px;
    margin-bottom: 3%;
    padding: 5px 35px;


  }
}


.btn-footer{
  position: fixed;
  left: 5%;
  bottom: 5%;
  width: 100%;
}
