<div class="main-cont">

  <div class="search">
    <mat-icon class="search-ic">search</mat-icon>
    <input type="text" class="search-input"  [(ngModel)]="selected"
           [typeahead]="qmsApps" name="selected"  typeaheadOptionField="type"  (typeaheadOnSelect)="onSelect($event)"
           [isAnimated]="true" autocomplete="off">
  </div>


  <div class="page-content" *ngIf="!serviceSelect">
    <div  fxLayout="row" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" >
      <div fxFlex="40" fxFlex.sm="100" fxFlex.xs="90">
        <p class="landing-title">What service would you like to perform?</p>
        <p class="sub">Search or select a service you would like to perform</p>
      </div>
    </div>

    <div class="menu-tiles">
      <div  fxLayout="row" fxLayout.xs="column" fxLayout.md="row" fxLayout.sm="row" >
        <div fxFlex="20" fxFlex.xs="5" fxFlex.sm="5">
        </div>
        <div fxFlex="60" fxFlex.xs="90" fxFlex.sm="90">
          <div  fxLayout="row wrap" >
            <div fxFlex="24" fxFlex.xs="49" fxFlex.sm="49" class="tile-one icons-sec"  fxLayout="column" (click)="select(0)">
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="accounts" class="ics"></mat-icon>
                <p  class="texts">Account Services</p>
                <p class="text" style="font-family: BentonSans-ExtraLight , Arial,serif">Services related to bank account transactions done without the involvement of cash</p>
              </div>

            </div>
            <div fxFlex="1" fxFlex.xs="1" ></div>
            <div fxFlex="24" fxFlex.xs="49" fxFlex.sm="49"  class="tile-two icons-sec" fxLayout="column"  (click)="select(1)">
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="cash" class="ics"></mat-icon>
                <p  class="texts">Cash Services</p>
                <p  class="text" style="font-family: BentonSans-ExtraLight , Arial,serif">Any bank transactions involving cash as a payment instrument</p>
              </div>

            </div>
            <div fxFlex="1" fxFlex.xs="1"></div>
            <div fxFlex="24" fxFlex.xs="49" fxFlex.sm="34"  class="tile-three icons-sec" fxLayout="column"  (click)="select(2)" >
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="loan" class="ics"></mat-icon>
                <p  class="texts">Card services</p>
                <p  class="text" style="font-family: BentonSans-ExtraLight , Arial,serif">Banking transactions done with the involvement of bank cards Example  debit card, credit card or prepaid cards </p>
              </div>
            </div>

            <div fxFlex="1" fxFlex.xs="1"></div>
            <div fxFlex="24" fxFlex.xs="49" fxFlex.sm="34"  class="new-tile-one icons-sec" fxLayout="column"  (click)="select(6)" >
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="remittance" class="ics"></mat-icon>
                <p  class="texts">Remittance services</p>
                <p  class="text" style="font-family: BentonSans-ExtraLight , Arial,serif">Withdraw your foreign remittance (Western union, Ria and Moneygram) transfer. </p>
              </div>
            </div>
            <div fxFlex="1"  fxFlex.xs="1" ></div>
            <div fxFlex="24" fxFlex.xs="49" fxFlex.sm="29"  class="tile-four icons-sec" fxLayout="column"   (click)="select(3)" >
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="cheque" class="ics"></mat-icon>
                <p  class="texts">Cheque Services</p>
                <p class="text"  style="font-family: BentonSans-ExtraLight , Arial,serif">Any bank transactions involving cheque as a payment instrument </p>
              </div>
            </div>
            <div fxFlex="1" fxFlex.xs="1"></div>
            <div fxFlex="24" fxFlex.xs="49" fxFlex.sm="34"  class="tile-five icons-sec"  fxLayout="column"   (click)="select(4)">
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="forex" class="ics"></mat-icon>
                <p  class="texts">Forex Services</p>
                <p class="text"  style="font-family: BentonSans-ExtraLight , Arial,serif">Any bank transactions involving the payment of foreign currency </p>
              </div>
            </div>
            <div fxFlex="1" fxFlex.xs="1"></div>
            <div fxFlex="24" fxFlex.xs="49" fxFlex.sm="34"   class="tile-six icons-sec" fxLayout="column"   (click)="select(5)">
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="payment" class="ics"></mat-icon>
                <p  class="texts">Payment Services</p>
                <p  class="text"  style="font-family: BentonSans-ExtraLight , Arial,serif">Transactions made to accounts without the involvement of cash </p>
              </div>
            </div>

            <div fxFlex="1" fxFlex.xs="1"></div>
            <div fxFlex="24" fxFlex.xs="49"  fxFlex.sm="29"   class="new-tile-two icons-sec" fxLayout="column"   (click)="select(7)">
              <div fxFlex fxLayout="column" fxLayoutAlign="flex-end start" >
                <mat-icon  svgIcon="general" class="ics"></mat-icon>
                <p  class="texts">Inquiries</p>
                <p  class="text"  style="font-family: BentonSans-ExtraLight , Arial,serif">Inquiry about any Stanbic product and services. </p>
              </div>
            </div>
          </div>



        </div>
        <div fxFlex="20" fxFlex.xs="5" fxFlex.sm="5">
        </div>
      </div>
    </div>
  </div>


  <div class="page-content" *ngIf="serviceSelect" [ngClass]="{'space-start' : serviceSelect}">
    <div  fxLayout="column" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column" >

      <p class="title grids">{{serviceApps[selectedPackage]}}</p>

      <div  fxLayout="column">
        <div  class="service-list" *ngFor="let serv of filteredService; let i = index">
          <div  fxLayout="row" (click)="selectedPackaged(serv)">
            <div fxFlex="10">
              <mat-icon style="height: 35px; width: 50px; margin-right: auto; margin-left: auto; display: block;" [svgIcon]="getThumb(i)"></mat-icon>
            </div>
            <div fxFlex="90">
              <p class="service-title">{{serv.type}}</p>
              <p class="service-desc">{{serv.description}}</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="btn-footer">
    <button   *ngIf="serviceSelect" (click)="back()"  class="back-btn">BACK</button>
  </div>
</div>


