<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayout.md="row"
     fxLayout.sm="column" fxFlexFill>
  <div fxFlex="60" fxFlex.md="60" fxLayout="column">
    <p class="heading">
      Enter your mobile number
    </p>
    <p>Kindly provide your mobile number to enable you receive your ticket number</p>

      <mat-form-field class="forms-input-width acc"  appearance="outline">
        <input name="accountNumber" [maxLength]="10" [minLength]="10" [formControl]="accountNumber"  type="text" matInput required>
        <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
      </mat-form-field>


    <div class="action-buttons">
      <button [disabled]="accountNumber.invalid" (click)="validate()" class="btn-filled btn-one"></button>
    </div>


  </div>

  <div fxFlex="40" fxFlex.md="40" fxLayout="row"   >
    <div class="start-img-container">
      <img src="assets/images/phone.png" class="start-img">
    </div>

  </div>
</div>
