@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stanbic-blue: (
  50: #0089FF,
  100: #c8e6d9,
  200: #0089FF,
  contrast: (
    50: white,
    100: black,
    200: white
  )
);

$stanbic-green: (
  50: #0089FF,
  100: #ff4e00,
  200: #79a319,
  contrast: (
    50: black,
    100: black,
    200: black
  )
);

$stanbic-grey: (
  50: #e0e0e0,
  100: #ffffff,
  200: #aeaeae,
  contrast: (
    50: black,
    100: black,
    200: black
  )
);

$stanbic-primary: mat-palette($stanbic-blue, 50, 100, 200);
$stanbic-accent:  mat-palette($stanbic-green, 50, 100, 200);
$stanbic-mygrey:  mat-palette($stanbic-grey, 50, 100, 200);

// The warn palette is optional (defaults to red).
$stanbic-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$stanbic-theme: mat-light-theme($stanbic-primary, $stanbic-accent, $stanbic-warn);
.mat-simple-snackbar {
  font-family: "BentonSans Regular" !important;
  font-size: 20px !important;
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($stanbic-theme);



@font-face {
  font-family: 'BentonSans Thin';
  src: url("assets/fonts/BentonSans/BentonSans-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Light';
  src: url("assets/fonts/BentonSans/BentonSans-Light.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans-ExtraLight';
  src: url("assets/fonts/BentonSans/BentonSans-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Book';
  src: url("assets/fonts/BentonSans/BentonSans-Book.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Regular';
  src: url("assets/fonts/BentonSans/BentonSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Medium';
  src: url("assets/fonts/BentonSans/BentonSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans-Bold';
  src: url("assets/fonts/BentonSans/BentonSans-Bold.otf") format("opentype");
}
html, body { height: 100%; }
body { margin: 0; font-family: 'BentonSans Regular', Roboto, "Helvetica Neue", sans-serif; }

button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-filled{
  background-color: #0089FF;
  color: #ffffff;
  border: none;
  font-family: 'BentonSans-Bold', Arial;
  padding: 3% 4%;
  margin-right: 5%;
  cursor: pointer;
}

.btn-outline{
  background-color: #ffffff;
  color: #0089FF;
  border: 2px solid #0089FF;
  font-family: 'BentonSans-Bold', Arial;
  padding: 2.7% 5%;
  cursor: pointer;
}

.title{
  color: #F7931E;
  font-family: "BentonSans-ExtraLight" , Arial;
  font-size: 38px;
  line-height: 38px;


  @media only screen and (max-width: 1400px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.sub-title{
  color: #858D9D;
  font-family: 'BentonSans Regular', Arial;
  font-size: 21px;
  line-height: 21px;
}

.title-label{
  font-family: 'BentonSans Medium', Arial;
  font-size: 13px;
  line-height: 13px;
  color: #707A8C;
  text-transform: uppercase;
  margin-bottom: unset !important;
}

.highlight-text{
  font-family: 'BentonSans Medium', Arial;
  font-size: 13px;
  line-height: 13px;
  color: #0089FF;
  margin-bottom: unset !important;
}

input.number-input-align::-webkit-outer-spin-button,
input.number-input-align::-webkit-inner-spin-button {
  display: none !important;
}

input.number-input-align {
  -moz-appearance: textfield !important;
}


.mat-snack-bar-container.success-toast {
  background: #27b676 ;
  color: #ffffff;
  font-family: 'BentonSans Light', Arial !important;
  font-size: 20px  !important;
}

.mat-snack-bar-container.warning-toast {
  background: #F7931E;
  color: #ffffff;
  font-family: 'BentonSans Light', Arial !important;
  font-size: 20px !important;
}



.mat-snack-bar-container.error-toast {
  background: #C31A1A ;
  color: #ffffff;
  font-family: 'BentonSans Light', Arial  !important;
  font-size: 20px  !important;
}

.readonly{
  margin-top: 10px;
  pointer-events: none !important;
}

textarea{
  resize: none !important;
}

.mat-checkbox{
  font-family: 'BentonSans Regular', Arial;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ccc !important;
  border-width: 1px !important;
}

.mat-radio-outer-circle {
  border-width: 1px !important;
  border-color: #ccc !important;
}



.mat-checkbox{
  font-family: 'BentonSans Regular', Arial;
  font-size: 15px;
}



body{
  overflow-x: hidden !important;
}


.forms-input-width{
  @media only screen and (max-width: 600px) {
    width: 100% !important;
  }
}


.actions-mobile{

  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
    position: absolute;
    background: #ffffff;
    bottom: 10px;
    width: 100%;

    .continue{
      height: 40px;
      width: 90%;
      margin-bottom: 15px;
      padding: 5px 35px;
      background-color: #0089FF;
      color: #ffffff;
      border: 2px solid #0089FF;
      font-family: "BentonSans-Bold", Arial;
    }

    .back{
      height: 40px;
      margin-bottom: 15px;
      padding: 5px 35px;
      width: 90%;
      background-color: #ffffff;
      color: #0089FF;
      border: 2px solid #0089FF;
      font-family: "BentonSans-Bold", Arial;
    }
  }


}
