<div class="app-forms" id="containerDiv" >
  <p class="title">{{title}}</p>
  <div class="forms-section">
    <div *ngIf="!reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row" [formGroup]="myFormGroup">
      <div fxFlex="50" fxFlex.md="50">



        <div class="form-stage-section">
          <p class="title-label">CARD NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  formControlName="accountNumber" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>



      </div>
      <div fxFlex="50" fxFlex.md="50">

        <div class="form-stage-section">
          <p class="title-label">AMOUNT</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input formControlName="idNumber" type="text" matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
            <span class="prefix-label" matPrefix>GHS&nbsp;</span>
          </mat-form-field>
        </div>

      </div>
    </div>

    <div *ngIf="reviewed"  fxLayout="row" fxLayout.xs="column"  fxLayout.sm="row" fxLayoutGap="150px" fxLayoutGap.xs="0px" fxLayoutGap.sm="30px" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50">
        <div class="form-stage-section">
          <p class="title-label">CARD NUMBER</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div fxFlex="50" fxFlex.md="50">


        <div class="form-stage-section">
          <p class="title-label">AMOUNT</p>
          <mat-form-field class="forms-input-width" appearance="outline">
            <input type="text"  matInput required>
            <mat-error><mat-icon>error</mat-icon> &nbsp;Required</mat-error>
            <span class="prefix-label" matPrefix>GHS&nbsp;</span>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="app-footer ">

  <button  *ngIf="!reviewed"  (click)="cancel()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="!reviewed">
    <button class="continue-btn" (click)="review()">CONTINUE</button>
  </div>

</div>

<div class="app-footer ">

  <button  *ngIf="reviewed"  (click)="back()"  class="back-btn">BACK</button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutAlign.xs="start"  *ngIf="reviewed">
    <button class="continue-btn" (click)="submit()">SUBMIT</button>
  </div>

</div>
